{
  "parser": "@typescript-eslint/parser",

  "rules": {
    "wrap-iife": [2, "inside"],
    "new-cap": [2, { "capIsNewExceptions": ["Router"] }],
    "no-invalid-this": 2,
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "no-plusplus": 0,
    "no-unused-expressions": [2, {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "arrow-parens": [2, "as-needed"],
    "@typescript-eslint/indent": [2, 2],
    "@typescript-eslint/explicit-function-return-type": 0
  },

  "env": {
    "node": true,
    "mocha": true
  },

  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],

  "globals": {}
}
